.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 30, 9, 0.7), rgba(4, 30, 9, 0.7)), url(images-donation/donation10.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;

}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box-1 {
    width: 90%;
    color: black;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.b {
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 10px;
    border: 0;
    background-color: rgb(233, 248, 248);
    text-align: center;
}

#text-deco {
    text-decoration-line: underline;


}

.text-box-2 {
    width: 90%;
    color: black;
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#tk {
    border: 2px solid red;
}

.c {
    display: inline-block;
    width: 300px;
    height: 200px;
    padding: 25px;
    border: 1px solid rosybrown;
    background-color: rgb(233, 248, 248);
    text-align: left;

}

.text-box-3 {
    display: flex;
    position: absolute;
    top: 240%;

}

button {
    background-color: red;
    color: #fff;

}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 70%;
}

.text-box-4 {
    display: flex;
    position: absolute;
    top: 300%;

}

button {
    background-color: red;
    color: #fff;

}

.half-width-1 {
    width: 50%;
    padding: 5%;
}

.half-width-1 img {
    width: 70%;
}

.text-box-5 {

    position: absolute;
    top: 350%;
    text-align: center;



}

footer {
    top: 400%;
    position: absolute;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    height: 30%;
    width: 100%;
    text-align: center;
}